<!DOCTYPE html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> 
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
<body>
    <h1>MockaPot</h1>
    <span id="coffeelevel">0</span>
</body>
<script>
   var socket = io('http://localhost');
        socket.on('status', function (data) {  
        var status = document.getElementById('coffeelevel');
        status.innerHTML = data.status;
  });
</script>
</html>
